# .gitignore for the released version

# ignore test/backup files
Backup/
in_progress/

# ignore data that is forbidden to be released

# ignore build/output directories
Data/
Results/
Test/

# ignore Emacs/IDE meta data
GPATH
GRTAGS
GTAGS

# ignore temp files
.DS_Store
*#
\#*
.#*
*~
*.html
